TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())

print("Entered the string is: ",user_input)

#displaying the reverse string from -1 index till infinite index
print("Reverse of a string is: ",user_input[::-1])

Please enter the string
Entered the string is:  abcd
Reverse of a string is:  dcba

2. Check if a string is a palindrome.

In [139]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input()) 
print("Entered the string is: ",user_input)

#comparing the user input string and reversed user input string
if user_input==user_input[::-1]:
    print(user_input,"string is a Palindrome")
else:
    print(user_input,"string not a Palindrome")

Please enter the string
Entered the string is:  abba
abba string is a Palindrome

3. Convert a string to uppercase.

In [4]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())

print("Entered the string is: ",user_input)

#calling upper function to convert uppercase letters.
print("Uppercase of the string is: ",user_input.upper())

Please enter the string
Entered the string is:  pwskills
Uppercase of the string is:  PWSKILLS

4. Convert a string to lowercase.

In [140]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#calling lower function to convert lowercase letters.
print("lowercase of the string is: ",user_input.lower())

Please enter the string
Entered the string is:  APPLE
lowercase of the string is:  apple

5. Count the number of vowels in a string.

In [143]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)
vow = "aeiouAEIOU"
count=0

#iterating through for loop for user input string
for each in user_input:
    #checking the condition user input string is in vow string or not.
    if each in vow:
        #incrementing the value to count number of vowels in user input string
        count=count+1
print("Number of vowels in a string is: ",count)

Please enter the string
Entered the string is:  Hello, how are you?
Number of vowels in a string is:  7

6. Count the number of consonants in a string.

In [145]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)
vow = "aeiouAEIOU"
count=0

#iterating through for loop for user input string
for each in user_input:
    #checking the condition user input consonant string not in vowel and consonant string not equal to space in a string.
    if each not in vow and each !=" ":
        #incrementing the value to count number of consonants in user input string
        count=count+1
print("Number of consonants in a string is: ",count)

Please enter the string
Entered the string is:  DSM pro
Number of consonants in a string is:  5

7. Remove all whitespaces from a string.

In [29]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#replacing the space with empty space using replace function
print("After removing whitespace from a string is: ",user_input.replace(" ",""))

Please enter the string
Entered the string is:  wel come
After removing whitespace from a string is:  welcome

8. Find the length of a string without using the `len()` function.

In [146]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

count=0

for i in user_input:
    count+=1
#calculating the length of the string incrementing count value to 1.
print("Length of a string is: ",count)

Please enter the string
Entered the string is:  aeiou
Length of a string is:  5

9. Check if a string contains a specific word.

In [147]:
print("Please enter the string")

#taking user input and converting to string
user_str_input = str(input())

#taking user sub string input and converting to string
user_substr_input = str(input())

print("Entered the string is: ",user_str_input)

#checking the condition that user_str_input string contains the word of user_substr_input
if user_substr_input in user_str_input:
    print("String contains a specific word: ",user_substr_input)
else:
    print("String does not contains a specific word: ",user_substr_input)

Please enter the string
Entered the string is:  welcome to the
String contains a specific word:  to

10. Replace a word in a string with another word.

In [45]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

print("Please enter the word you want to replace")
#taking user input and converting to string
user_enter_replace_word_input = str(input())
print("Entered a word will be replace is: ",user_enter_replace_word_input)

print("Please enter another word that you want to replace with ",user_enter_replace_word_input)
#taking user input and converting to string
user_enter_word = str(input())

#replacing sub string with another string using replace function
print("Replaced a word in a string with another word is: ",user_input.replace(user_enter_replace_word_input,user_enter_word))

Please enter the string
Entered the string is:  Good Morning
Please enter the word you want to replace
Entered a word will be replace is:  Morning
Please enter another word that you want to replace with  Morning
Replaced a word in a string with another word is:  Good Afternoon

11. Count the occurrences of a word in a string.

In [148]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)
print("Please enter the word")

#taking user input and converting to string
user_input_word = str(input())
print("Entered the word is: ",user_input_word)

#counting the user_input_word in user_input string using count function
print("the occurrences of a word in a string is: ",user_input.count(user_input_word))

Please enter the string
Entered the string is:  welcome to the pwskills to
Please enter the word
Entered the word is:  to
the occurrences of a word in a string is:  2

12. Find the first occurrence of a word in a string.

In [149]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)
print("Please enter the word")

#taking user input and converting to string
user_input_word = str(input())
print("Entered the word is: ",user_input_word)

#checking the index of user_input string with user_input_word
print("the first occurrence of a word in a string is: ",user_input.index(user_input_word))

Please enter the string
Entered the string is:  This is an example sentence. This sentence contains the word example.
Please enter the word
Entered the word is:  example
the first occurrence of a word in a string is:  11

13. Find the last occurrence of a word in a string.

In [150]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)
print("Please enter the word")

#taking user input and converting to string
user_input_word = str(input())
print("Entered the word is: ",user_input_word)

#checking the index of user_input string with user_input_word
print("the first occurrence of a word in a string is: ",user_input.rindex(user_input_word))

Please enter the string
Entered the string is:  This is an example sentence. This sentence also contains the word example.
Please enter the word
Entered the word is:  example
the first occurrence of a word in a string is:  66

14. Split a string into a list of words.

In [12]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#splitting a string into list of words using split function and converting to list
print("Split a string into a list of words: ",list(user_input.split()))

Please enter the string
Entered the string is:  welcome to the pwskills
Split a string into a list of words:  ['welcome', 'to', 'the', 'pwskills']

15. Join a list of words into a string.

In [17]:
print("Please enter the string")

#taking user input and converting to string
user_input = list(str(input()))
print("Entered the string is: ",user_input)

#Joining the words into a string using join function
print("Join list of words into a string: ","".join(user_input))

Please enter the string
Entered the string is:  ['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'p', 'w', 's', 'k', 'i', 'l', 'l', 's']
Join list of words into a string:  welcome to the pwskills

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [19]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#replacing the spaces with underscores using replace function
print("String seperated with underscores is: ",(user_input.replace(" ","_")))

Please enter the string
Entered the string is:  welcome to the pwskills
String seperated with underscores is:  welcome_to_the_pwskills

17. Check if a string starts with a specific word or phrase.

In [151]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

print("Please enter the specific word")

#taking user input word and converting to string
user_input_word = str(input())
print("Entered the string is: ",user_input_word)

#checking the condition of user input string starts with user input word or not
if user_input.startswith(user_input_word):
    print(user_input_word,"a specific word that starts with string is",user_input)
else:
    print(user_input_word,"a specific word that DOES not starts with string is",user_input)

Please enter the string
Entered the string is:  welcome to the pwskills
Please enter the specific word
Entered the string is:  welcome
welcome a specific word that starts with string is welcome to the pwskills

18. Check if a string ends with a specific word or phrase.

In [152]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

print("Please enter the specific word")

#taking user input word and converting to string
user_input_word = str(input())
print("Entered the string is: ",user_input_word)

#checking the condition of user input string ends with user input word or not
if user_input.endswith(user_input_word):
    print(user_input_word,"a specific word that ends with string is",user_input)
else:
    print(user_input_word,"a specific word that DOES not ends with string is",user_input)

Please enter the string
Entered the string is:  welcome to the pwskills
Please enter the specific word
Entered the string is:  pwskills
pwskills a specific word that ends with string is welcome to the pwskills

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [27]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#Use the title() method to convert the text to title case.
print("the string to title case is: ",user_input.title())

Please enter the string
Entered the string is:  welcome to
the string to title case is:  Welcome To

20. Find the longest word in a string.

In [34]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#taking user input long word and converting to string
long_word = user_input.split()

#the word and its length are passed to the max length of the word.
print("The longest word in a string is: ",max(long_word,key=len))

Please enter the string
Entered the string is:  welcome to the pwskills for datascience course
The longest word in a string is:  datascience

21. Find the shortest word in a string.

In [35]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#taking long word and converting to string
long_word = user_input.split()

#the word and its length are passed to the min length of the word.
print("The shortest word in a string is: ",min(long_word,key=len))

Please enter the string
Entered the string is:  welcome to the pwskills for datascience pro
The shortest word in a string is:  to

22. Reverse the order of words in a string.

In [40]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#taking user reverse string and spliting it into seperate word
reverse_words = user_input.split()

#reversed the words in a string and seperated with space
rev = " ".join(reversed(reverse_words))
print("Reversed order of words in a string is: ",rev)

Please enter the string
Entered the string is:  welcome to the pwskills for datascience pro course
Reversed order of words in a string is:  course pro datascience for pwskills the to welcome

23. Check if a string is alphanumeric.

In [41]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#taking user input and checking is it contains aplhabets and numbers or not.
if user_input.isalnum():
    print("string is a alphanumeric: ",user_input)
else:
    print("string is not a alphanumeric: ",user_input)

Please enter the string
Entered the string is:  welc0me
string is a alphanumeric:  welc0me

24. Extract all digits from a string.

In [157]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#Initialize the j with empty string
j=""

#iterating through loop
for i in user_input:
    #checking the i string contains numbers or not
    if i.isdigit():
        #adding number from a string to j string
        j=j+i
print("digits from a string is: ",j)

Please enter the string
Entered the string is:  wel123c456om654e
digits from a string is:  123456654

25. Extract all alphabets from a string.

In [159]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#Initialize the j with empty string
j=""

#iterating through loop
for i in user_input:
    #checking the i string contains alphabets or not
    if i.isalpha():
        #adding alphabets from a string to j string
        j=j+i

print("alphabets from a string is: ",j)

Please enter the string
Entered the string is:  we123come
alphabets from a string is:  wecome

26. Count the number of uppercase letters in a string.

In [48]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

count=0
#iterating through loop till end of the length of the string
for i in range(len(user_input)):
    #checking that user entered string contains UPPERCASE letters or not
    if user_input[i].isupper():
        #incrementing the count value
        count+=1
print("count number of uppercase letters is: ",count)

Please enter the string
Entered the string is:  WelCome
count number of uppercase letters is:  2

27. Count the number of lowercase letters in a string.

In [49]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

count=0
#iterating through loop till end of the length of the string
for i in range(len(user_input)):
    #checking that user entered string contains LOWERCASE letters or not
    if user_input[i].islower():
        #incrementing the count value
        count+=1
print("count number of lowercase letters is: ",count)

Please enter the string
Entered the string is:  WELcome
count number of lowercase letters is:  4

28. Swap the case of each character in a string.

In [50]:
print("Please enter the string")

#taking user input and converting to string
user_input = str(input())
print("Entered the string is: ",user_input)

#swapping the lowercase letters with uppercase letters and viceversa
print("Swap the case of each character in a string is: ",user_input.swapcase())

Please enter the string
Entered the string is:  Welcome
Swap the case of each character in a string is:  wELCOME

29. Remove a specific word from a string.

In [178]:
print("Please enter the string")

#creating an empty list
lis=[]

for i in range(0,4):
    #taking user input and converting to string
    ele=str(input())

    #adding elements to list
    lis.append(ele)
print(lis)

#taking user input word and converting to string
user_input_word = str(input())
print("Entered the specific word to remove is:",user_input_word)

#iterating through for loop and checking the condition and comparing the lis is not equal to user_input_word string
fin_lis = [w for w in lis if w!= user_input_word]

print("word",user_input_word,"is Removed and final string is:",' '.join(fin_lis))

Please enter the string
['hi', 'world', 'welcome', 'world']
Entered the specific word to remove is: world
word world is Removed and final string is: hi welcome

30. Check if a string is a valid email address.

In [67]:
#import reglar expression module
import re
print("Please enter the string for email address")
user_input = str(input())
print("Entered the string for email address is: ",user_input)

# Regular expression pattern for a basic email validation
pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

# checking condition and matching against pattern
if re.match(pat,user_input):
    print("string is a valid email address:",user_input)
else:
    print("string is not a valid email address:",user_input)

Please enter the string for email address
Entered the string for email address is:  123.123@123.in
string is a valid email address: 123.123@123.in

31. Extract the username from an email address string.

In [69]:
print("Please enter the string for email address")

#taking user input string
user_input = str(input())
print("Entered the string for email address is: ",user_input)

# Split the email address at "@" and take the first part
print(user_input.split("@")[0])

Please enter the string for email address
Entered the string for email address is:  123.123@123.com
123.123

32. Extract the domain name from an email address string.

In [72]:
print("Please enter the string for email address")

#taking user input string
user_input = str(input())
print("Entered the string for email address is: ",user_input)

#Split the email address at "@" and take the second part
print(user_input.split("@")[1])

Please enter the string for email address
Entered the string for email address is:  123_123@123.in
123.in

33. Replace multiple spaces in a string with a single space.

In [74]:
print("Please enter the string for email address")

#taking user input string
user_input = str(input())
print("Entered the string for email address is: ",user_input)

#Split the string at spaces and then join using a single space
print(" ".join(user_input.split()))

Please enter the string for email address
Entered the string for email address is:  we    co     me to
we co me to

34. Check if a string is a valid URL.

In [84]:
# pip install validators
import validators #importing validators library

print("Please enter the string for email address")

# taking user input string
user_input = str(input())
print("Entered the string for email address is: ",user_input)

# Return whether or not given value is a valid URL.
# If the value is valid URL this function returns True
if validators.url(user_input):
    print(user_input,"string is a valid URL")
else:
    print(user_input,"string is a Invalid URL")

Please enter the string for email address
Entered the string for email address is:  https://www.google.com
https://www.google.com string is a valid URL

35. Extract the protocol (http or https) from a URL string.

In [87]:
# import only urlparse function from urllib.parse module
from urllib.parse import urlparse
print("Please enter the string for email address")

# taking user input string
user_input = str(input())
print("Entered the string for email address is: ",user_input)

#extracting https from scheme
print("Extracted protocol from URL string is:",urlparse(user_input).scheme)

Please enter the string for email address
Entered the string for email address is:  https://www.google.com
Extracted protocol from URL string is: https

36. Find the frequency of each character in a string.

In [94]:
from collections import Counter # import counter class from collections module
print("Please enter the string for email address")

#taking user input string
user_input = list(str(input()))

# Creation of a Counter Class object using
# string as an iterable data container
counts=Counter(user_input)
print("Frequency of each character in a string is:")

#iterating through for loop, printing the each character and its frequency
for i in user_input:
    print(i,counts[i])

Please enter the string for email address
Frequency of each character in a string is:
w 1
e 2
l 1
c 1
o 1
m 1
e 2

37. Remove all punctuation from a string.

In [3]:
import string 

print("Please enter the string")

# taking user input string
user_input = str(input())
print("Entered the string is: ",user_input)

# Create a translation table to remove punctuation
translator = str.maketrans("", "", string.punctuation)

# Use the translation table to remove punctuation from the input string
clean_string = user_input.translate(translator)

# replacing " " using replace function
print("Removed punctuation from a string is:",clean_string)

Please enter the string
Entered the string is:  Hello, world! How's it going?
Removed punctuation from a string is: Hello world Hows it going

38. Check if a string contains only digits.

In [5]:
print("Please enter the string")

# taking user input string
user_input = str(input())
print("Entered the string is: ",user_input)

# checking the condition that user input string contains numeric or not.
if user_input.isnumeric():
    print("Yes String contain only digits")
else:
     print("No String does not contain only digits")

Please enter the string
Entered the string is:  123.123
No String does not contain only digits

39. Check if a string contains only alphabets.

In [7]:
print("Please enter the string")

# taking user input string
user_input = str(input())
print("Entered the string is: ",user_input)

# Check if all characters in the string are alphabetic
if user_input.isalpha():
    print("Yes String contain only alphabets")
else:
     print("No String does not contain only alphabets")

Please enter the string
Entered the string is:  1234
No String does not contain only alphabets

40. Convert a string to a list of characters.

In [9]:
print("Please enter the string")

# taking user input string
user_input = str(input())
print("Entered the string is: ",user_input)

# Use list() constructor to convert the string to a list of characters
print("Converted a string to a list of character is:",list(user_input))

Please enter the string
Entered the string is:  welcome
Converted a string to a list of character is: ['w', 'e', 'l', 'c', 'o', 'm', 'e']

41. Check if two strings are anagrams.

In [11]:
print("Please enter the string 1")
# taking user input string
user_input_1 = str(input())
print("Entered the string 1 is: ",user_input_1)

print("Please enter the string 2")
# taking user input2 string
user_input_2 = str(input())
print("Entered the string 2 is: ",user_input_2)

# Sort the characters in both strings and compare
if sorted(user_input_1)==sorted(user_input_2):
    print("Two strings are anagrams")
else:
    print("Two strings are not anagrams")

Please enter the string 1
Entered the string 1 is:  gram
Please enter the string 2
Entered the string 2 is:  arm
Two strings are not anagrams

42. Encode a string using a Caesar cipher.

In [14]:
#A python program to illustrate Caesar Cipher Technique
def encrypt(text,s):
	result = ""

	# traverse text
	for i in range(len(text)):
		# Each character in a string is seperately stored in char
		char = text[i]
		# print("char: \n",char)
		# Encrypt uppercase characters
		if (char.isupper()):
			# chr() is a built in function used to convert a number to letter through mapping of ASCII value
                # Example:
                # num = 97
                # print("ASCII Value of 97 is: ", chr(num))
                # Output: ASCII Value of 97 is:  a
                
            # ord() is a built in function used to convert a letter to number through mapping of ASCII value
                # Example:
                # print(ord('a')) # Output: 97
                # print(ord('€')) # Output: 8364

            # s is a shift value
            # Create a new alphabet by shifting each letter of the original alphabet by the shift value. 
            # For example, if the shift value is 3, the new alphabet would be:
                # A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                # D E F G H I J K L M N O P Q R S T U V W X Y Z A B C

            # 65 is ASCII value of Uppercase letter A
            # 26 is the number of alphabets
			result += chr((ord(char) + s-65) % 26 + 65)

		# Encrypt lowercase characters
		else:
			# chr() is a built in function used to convert a number to letter through mapping of ASCII value
            # ord() is a built in function used to convert a letter to number through mapping of ASCII value
            # s is a shift value
            # Create a new alphabet by shifting each letter of the original alphabet by the shift value. 
            # For example, if the shift value is 3, the new alphabet would be:
            # 97 is ASCII value of lowercase letter a
            # 26 is the number of alphabets
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result

#check the above function
text = "ATTACKATONCE"
s = 4
print ("Text : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text : ATTACKATONCE
Shift : 4
Cipher: EXXEGOEXSRGI

43. Decode a Caesar cipher encoded string.

In [16]:
#A python program to illustrate Caesar Cipher Technique
def decrypt(text,s):
	result = ""

	# traverse text
	for i in range(len(text)):
		# Each character in a string is seperately stored in char
		char = text[i]
		# print("char: \n",char)
		# Decrypt uppercase characters
		if (char.isupper()):
			# chr() is a built in function used to convert a number to letter through mapping of ASCII value
                # Example:
                # num = 97
                # print("ASCII Value of 97 is: ", chr(num))
                # Output: ASCII Value of 97 is:  a
                
            # ord() is a built in function used to convert a letter to number through mapping of ASCII value
                # Example:
                # print(ord('a')) # Output: 97
                # print(ord('€')) # Output: 8364

            # s is a shift value
            # Create a new alphabet by shifting each letter of the original alphabet by the shift value. 
            # For example, if the shift value is 3, the new alphabet would be:
                # A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                # D E F G H I J K L M N O P Q R S T U V W X Y Z A B C

            # 65 is ASCII value of Uppercase letter A
            # 26 is the number of alphabets
			result += chr((ord(char) + s-65) % 26 + 65)

		# Decrypt lowercase characters
		else:
			# chr() is a built in function used to convert a number to letter through mapping of ASCII value
            # ord() is a built in function used to convert a letter to number through mapping of ASCII value
            # s is a shift value
            # Create a new alphabet by shifting each letter of the original alphabet by the shift value. 
            # For example, if the shift value is 3, the new alphabet would be:
            # 97 is ASCII value of lowercase letter a
            # 26 is the number of alphabets
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result

#check the above function
text = "EXXEGOEXSRGI"
s = 4
print ("Text : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + decrypt(text,26-s))

Text : EXXEGOEXSRGI
Shift : 4
Cipher: ATTACKATONCE

44. Find the most frequent word in a string.

In [11]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world hello there! How's the world"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [13]:
string = "Python is good Python is for beginners"
print(' '.join(dict.fromkeys(string.split())))

Python is good for beginners

46. Count the number of syllables in a string.

In [14]:
import re

def count_syllables(word):
    return len(
        re.findall('(?!e$)[aeiouy]+', word, re.I) +
        re.findall('^[^aeiouy]*e$', word, re.I)
    )
print(count_syllables("book"))
print(count_syllables("banana"))

1
3

47. Check if a string contains any special characters.

In [16]:
import string
print("Please enter the string")
user_input = str(input())
print("Entered the string 1 is: ",user_input)

def check_string(s):
	for c in s:
		if c in string.punctuation:
			print("Yes, String contains special characters")
			return
	print("No, String does not contains special characters")

check_string(user_input) # Output: String is not accepted

Please enter the string
Entered the string 1 is:  admkc""
Yes, String contains special characters

48. Remove the nth word from a string.

In [20]:
print("Please enter the string")
user_input = str(input())
print("Entered the string 1 is: ",user_input)

print("Please enter the word to be remove")
user_word = str(input())
len_word = len(user_word)
print("Entered the word to be remove is: ",user_word)

b = bytearray(user_input, 'utf-8')
word_find = user_input.find(user_word)
del b[word_find:word_find+len_word+1]

print("The string after removal : " + b.decode())

Please enter the string
Entered the string 1 is:  this is an program
Please enter the word to be remove
Entered the word to be remove is:  is
The string after removal : this an program

49. Insert a word at the nth position in a string.

In [24]:
print("Please enter the string")
user_input = str(input())
print("Entered the string 1 is: ",user_input)

print("Please enter the position to insert word")
user_pos = int(input())-1
user_word = str(input())
len_word = len(user_word)
print("Entered the position and word to be inserted is: ",user_pos, user_word)

abc = user_input[:user_pos] + " "+ user_word + user_input[user_pos:] 

print("The string after removal : ",abc)

Please enter the string
Entered the string 1 is:  this is apple
Please enter the position to insert word
Entered the position and word to be inserted is:  7 an
The string after removal :  this is an apple

50. Convert a CSV string to a list of lists.

In [25]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [59]:
r1, r2 = 1, 10
print(list(range(r1, r2+1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [61]:
lis = [1,2,3,4,5,6,7,8,9,10]
count=0
for i in (lis):
    count=count+1
print("Length of the list is:",count)

Length of the list is: 10

3. Append an element to the end of a list.

In [62]:
lis = [1,2,3,4,5,6,7,8,9,10]
lis.append(11)
print("Length of the list is:",lis)

Length of the list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [67]:
lis = [1,2,3,4,5,6,7,8,9,10]
lis.insert(11,12)
print("Length of the list is:",lis)

Length of the list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

5. Remove an element from a list by its value.

In [69]:
lis = [1,2,3,4,5,6,7,8,9,10]
lis.remove(10)
print("Length of the list is:",lis)

Length of the list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

6. Remove an element from a list by its index.

In [73]:
lis = [1,2,3,4,5,6,7,8,9,10]
del lis[9]
print("Length of the list is:",lis)

Length of the list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

7. Check if an element exists in a list.

In [74]:
lis = [1,2,3,4,5,6,7,8,9,10]
if 9 in lis:
    print("Yes")
else:
    print("No")

Yes

8. Find the index of the first occurrence of an element in a list.

In [78]:
lis = [1,2,3,4,5,6,7,8,9,10,3]
print(lis.index(3))

2

9. Count the occurrences of an element in a list.

In [80]:
lis = [1,2,3,4,5,6,7,8,9,10,3]
print(lis.count(3))

2

10. Reverse the order of elements in a list.

In [81]:
lis = [1,2,3,4,5,6,7,8,9,10,3]
print(lis[::-1])

[3, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [84]:
lis = [1,2,3,4,5,6,7,8,9,10,3]
lis.sort()
print(lis)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [87]:
lis = [1,2,3,4,5,6,7,8,9,10,3]
lis.reverse()
print(lis)

[3, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [98]:
lis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lis:
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

14. Create a list of odd numbers from 1 to 20.

In [101]:
lis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lis:
    if i%2!=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

15. Find the sum of all elements in a list.

In [103]:
lis=[1,2,3,4]
print(sum(lis))

10

16. Find the maximum value in a list.

In [104]:
lis=[1,2,3,4]
print(max(lis))

4

17. Find the minimum value in a list.

In [105]:
lis=[1,2,3,4]
print(min(lis))

1

18. Create a list of squares of numbers from 1 to 10.

In [108]:
lis=[]
for i in range(1, 10):
        lis.append(i*i)
print(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

19. Create a list of random numbers.

In [112]:
import random
lis=[]
for i in range(10):
    lis.append(random.randint(1,10))
print(lis)

[9, 2, 4, 8, 4, 5, 6, 2, 6, 7]

20. Remove duplicates from a list.

In [114]:
lis=[9, 2, 4, 8, 4, 5, 6, 2, 6, 7]
res=[]
for i in lis:
    if i not in res:
        res.append(i)
print(res)

[9, 2, 4, 8, 5, 6, 7]

21. Find the common elements between two lists.

In [115]:
lis=[9, 2, 4, 8, 4, 5, 6, 2, 6, 7]
jkl=[5,6,7,8,9]
res=[]
for i in lis:
    if i in jkl:
        res.append(i)
print(res)

[9, 8, 5, 6, 6, 7]

22. Find the difference between two lists.

In [116]:
lis=[9, 2, 4, 8, 4, 5, 6, 2, 6, 7]
jkl=[5,6,7,8,9]
res=[]
for i in lis:
    if i not in jkl:
        res.append(i)
print(res)

[2, 4, 4, 2]

23. Merge two lists.

In [118]:
lis=[9, 2, 4, 8, 4]
jkl=[5, 6, 7, 8, 9]
print(lis+jkl)

[9, 2, 4, 8, 4, 5, 6, 7, 8, 9]

24. Multiply all elements in a list by 2.

In [121]:
lis=[9, 2, 4, 8, 4]
for i in range(len(lis)):
    print(lis[i]*2)

18
4
8
16
8

25. Filter out all even numbers from a list.

In [124]:
lis=[9, 2, 4, 8, 4]
res=[]
for i in range(len(lis)):
    if lis[i]%2==0:
        res.append(lis[i])
print(res)

[2, 4, 8, 4]

26. Convert a list of strings to a list of integers.

In [2]:
lis = ['1', '-4', '3', '-6', '7']
#eval is a function in Python converts the argument to an integer.
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

27. Convert a list of integers to a list of strings.

In [4]:
lis = [1, -4, 3, -6, 7]
#str is a function in Python converts the argument to an string.
res = [str(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  ['1', '-4', '3', '-6', '7']

28. Flatten a nested list.

In [7]:
import itertools
list2d = [[1,2,3], [4,5,6], [7], [8,9]]
# you can use itertools.chain.from_iterable() which doesn't require unpacking the list with the * operator:
merged = list(itertools.chain.from_iterable(list2d))
print(merged)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [14]:
lis=[]
a=0
b=1
lis.append(a)
lis.append(b)

for i in range(2,10):
    c=a+b
    lis.append(c)
    a=b
    b=c
print(lis)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [21]:
lis=[1,2,3,4]
if sorted(lis)==lis:
    print("yes")
else:
    print("no")

yes

31. Rotate a list to the left by `n` positions.

In [1]:
lis=[1,2,3,4,5,6]
pos=2
lot=lis[pos:len(lis)]+lis[0:pos]
print(lot)

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [3]:
# Python program to right rotate
# a list by n using list slicing
n = 2

list_1 = [1, 2, 3, 4, 5, 6]
list_1 = list_1[-n:] + list_1[:-n]
print(list_1)

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [2]:
# A prime number is divisible only by 1 and the number itself. 
# Example:
# 4 is divisible by one and also divisible by 2, so 4 is not a PRIME number.
lis=[]
# Python program to display all the prime numbers within an interval
lower = 0
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
       if num == 0 or num == 1:
            continue
       else:
            for i in range(2, num):
                # print("num: ",num)
                # print("i: ",i)
                if (num % i) == 0:
                    break
            else:                       #else block is part of for loop, if break happen completely exists from for loop
                # print("ELSE: \n",num)
                lis.append(num)
                # print("\n")

print(lis)

Prime numbers between 0 and 50 are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [43]:
l=[1,2,3,4,5,6,7,8,9,10]
x=[]
n=2
for i in range(0, len(l), n): 
    x.append(l[i:i + n])
print(x)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

35. Find the second largest number in a list.

In [4]:
l=[10,9,8,7,6,5,4,3,2,1]
print(sorted(l)[-2])

9

36. Replace every element in a list with its square.

In [49]:
import math
l=[1,2,3,4]
l=[int(math.pow(i,2)) for i in l]
print(l)

[1, 4, 9, 16]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [54]:
sample_list = ['a', 'b', 'c', 'd', 'e']
result_dict = {value: index for index, value in enumerate(sample_list)}
print(result_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

38. Shuffle the elements of a list randomly.

In [60]:
from random import shuffle
l=[1,2,3,4]
shuffle(l)
print(l)

[3, 1, 2, 4]

39. Create a list of the first 10 factorial numbers.

In [6]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [77]:
l1=[1,2,3,4]
l2=[4,5,6,7]
for i in l1:
    if i in l2:
        print("Yes")
    else:
        print("No")

No
No
No
Yes

41. Remove all elements from a list.

In [78]:
l=[1,2,3,4]
print(l.clear())

None

42. Replace negative numbers in a list with 0.

In [81]:
l=[-2,-1,0,1,-3,7]
for i in range(0,len(l)):
    if l[i]<0:
        l[i]=0
print(l)

[0, 0, 0, 1, 0, 7]

43. Convert a string into a list of words.

In [83]:
l="Welcome to the pwskills"
print(list(l.split()))

['Welcome', 'to', 'the', 'pwskills']

44. Convert a list of words into a string.

In [89]:
l=['Welcome', 'to', 'the', 'pwskills']
str=" "
print(str.join(l))

Welcome to the pwskills

45. Create a list of the first `n` powers of 2.

In [92]:
l=[1,2,3,4,5]
m=[]
for i in range(1,len(l)+1):
    m.append(i*i)
print(m)

[1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [100]:
a_list=['abc','bcd','bcdefg','abba','cddc','opq']

max = a_list[0]

for i in a_list[1:]:
    if len(i)>len(max):
        max = i
print(max)

bcdefg

47. Find the shortest string in a list of strings.

In [101]:
a_list=['abc','bcd','bcdefg','abba','cddc','opq']

max = a_list[0]

for i in a_list[1:]:
    if len(i)<len(max):
        max = i
print(max)

abc

48. Create a list of the first `n` triangular numbers.

In [103]:
# The solution is based on the fact that i-th Triangular number is sum of first i natural numbers, i * (i + 1)/2
n=5
for i in range(1, n + 1):
	print( i*(i+1)//2,end=' ')

1 3 6 10 15

49. Check if a list contains another list as a subsequence.

In [8]:
# Python3 code to demonstrate
# to check if list is subset of other
# using all()

# initializing list
test_list = [9, 4, 5, 8, 10]
sub_list = [3,8,10]

# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))

# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
	flag = 1

# printing result
if (flag):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [3, 8, 10]
No, list is not subset of other.

50. Swap two elements in a list by their indices.

In [2]:
# Python3 program to swap elements at given positions

# Swap function
def swapPositions(list, pos1, pos2):
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [3]:
tup = (1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
tup = (1,2,3,4,5)
tup[2]

3

3. Find the length of a tuple without using the `len()` function.

In [6]:
tup = (1,2,3,4,5)
count=0
for i in tup:
    count+=1
print("lenght of the tuple is:",count)

lenght of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [13]:
tup = (1,2,3,4,4,5)
print("occurences of an element 4 in a tuple: ",tup.count(4))

occurences of an element 4 in a tuple:  2

5. Find the index of the first occurrence of an element in a tuple.

In [14]:
tup = (1,2,3,4,4,5)
tup.index(4)

3

6. Check if an element exists in a tuple.

In [15]:
tup = (1,2,3,4,4,5)
if 9 in tup:
    print("Yes")
else:
    print("No")

No

7. Convert a tuple to a list.

In [16]:
tup = (1,2,3,4,4,5)
list(tup)

[1, 2, 3, 4, 4, 5]

8. Convert a list to a tuple.

In [17]:
lis=[1, 2, 3, 4, 4, 5]
tuple(lis)

(1, 2, 3, 4, 4, 5)

9. Unpack the elements of a tuple into variables.

In [22]:
tup = (1,2,3,4,4,5)
a,b,c,d,e,f = tup
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
4
4
5

10. Create a tuple of even numbers from 1 to 10.

In [29]:
tup=()
lis=list(tup)
for i in range(1,11):
    if i%2==0:
        lis.append(i)
print(tuple(lis))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [30]:
tup=()
lis=list(tup)
for i in range(1,11):
    if i%2!=0:
        lis.append(i)
print(tuple(lis))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [31]:
tup=(1,2)
tup2=(2,3)
tup+tup2

(1, 2, 2, 3)

13. Repeat a tuple three times.

In [32]:
tup=(7,9)
tup*3

(7, 9, 7, 9, 7, 9)

14. Check if a tuple is empty.

In [37]:
tup=(1,2)
if bool(tup):
    print("Not Empty")
else:
    print("Empty")

Not Empty

15. Create a nested tuple.

In [39]:
tup=((1,2,3,4),(5,6,7,8,9))
tup

((1, 2, 3, 4), (5, 6, 7, 8, 9))

16. Access the first element of a nested tuple.

In [9]:
tup=((1,2,3,4),(5,6,7,8,9))
tup[0]

(1, 2, 3, 4)

17. Create a tuple with a single element.

In [43]:
tup=(2,)
tup

(2,)

18. Compare two tuples.

In [45]:
tup1=(1,2,3,4)
tup2=(1,2,3,4)
if tup1 == tup2:
    print("Equal")
else:
    print("Not Equal")

Equal

19. Delete a tuple.

In [48]:
tup=(1,2)
del tup

20. Slice a tuple.

In [58]:
tup=(1,2,3,4)
tup[1:3]

(2, 3)

21. Find the maximum value in a tuple.

In [59]:
tup=(1,2,3,4)
max(tup)

4

22. Find the minimum value in a tuple.

In [60]:
tup=(1,2,3,4)
min(tup)

1

23. Convert a string to a tuple of characters.

In [61]:
string="Welcome"
tuple(string)

('W', 'e', 'l', 'c', 'o', 'm', 'e')

24. Convert a tuple of characters to a string.

In [64]:
tup=('W', 'e', 'l', 'c', 'o', 'm', 'e')
"".join(tup)

'Welcome'

25. Create a tuple from multiple data types.

In [66]:
tup=(1,'a',"string",1.56,True)
tup

(1, 'a', 'string', 1.56, True)

26. Check if two tuples are identical.

In [68]:
tup=(1,2,3,4)
tup2=(1,2,3,'a')
if tup==tup2:
    print("Identical")
else:
    print("Not Identical")

Not Identical

27. Sort the elements of a tuple.

In [71]:
tup=(4,3,2,1)
sorted(tup)

[1, 2, 3, 4]

28. Convert a tuple of integers to a tuple of strings.

In [78]:
tup=(1,2,3,4)
abc = tuple(str(it) for it in tup)
abc

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [86]:
tup=('11','22','33','44')
io=[]
for i in tup:
    io.append(int(i))
    
print(tuple(io))

(11, 22, 33, 44)

30. Merge two tuples.

In [87]:
tup1=(1,2,3,4)
tup2=(5,6,7,8)
tup1+tup2

(1, 2, 3, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [103]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [11]:
# A prime number is divisible only by 1 and the number itself. 
# Example:
# 4 is divisible by one and also divisible by 2, so 4 is not a PRIME number.
lis=[]
# Python program to display all the prime numbers within an interval
lower = 0
upper = 11
print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
       if num == 0 or num == 1:
            continue
       else:
            for i in range(2, num):
                # print("num: ",num)
                # print("i: ",i)
                if (num % i) == 0:
                    break
            else:                       #else block is part of for loop, if break happen completely exists from for loop
                # print("ELSE: \n",num)
                lis.append(num)
                # print("\n")

print(tuple(lis))

Prime numbers between 0 and 11 are:
(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [8]:
tup=(1,2,3,2,5)

if tup == tup[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

not a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [16]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [17]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 == 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [19]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Multiply all numbers with 2 using a list comprehension
filtered_tuple = tuple(num*2 for num in original_tuple)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [23]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1,10) for _ in range(10)) # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
random_tuple

(1, 5, 4, 4, 4, 10, 1, 4, 8, 8)

38. Check if a tuple is sorted.

In [27]:
tup=(5,1,2,3,4)

if sorted(tup)==tup:
    print("Yes")
else:
    print("No")

No

39. Rotate a tuple to the left by `n` positions.

In [12]:
tup=(1,2,3,4,5)
n=2
tup=tup[n:] + tup[:n]
tup

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [13]:
tup=(1,2,3,4,5)
n=2
tup=tup[-n:] + tup[:-n]
tup

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [15]:
lis=[]
a=0
b=1
lis.append(a)
lis.append(b)

for i in range(2,5):
    c=a+b
    lis.append(c)
    a=b
    b=c
print(tuple(lis))

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [38]:
user_input=tuple(input())
user_input

('1', '2', '3', '4')

43. Swap two elements in a tuple.

In [41]:
# Python3 program to swap elements at given positions

# Swap function
def swapPositions(list, pos1, pos2):
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
swapPositions(List, pos1-1, pos2-1)
print(tuple(List))

(19, 65, 23, 90)

44. Reverse the elements of a tuple.

In [42]:
tup=(1,2,3,4)
print(tup[::-1])

(4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [19]:
n=5
m=[]
for i in range(0,n):
    m.append(2**i)
print(tuple(m))

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [46]:
a_list=('abc','bcd','bcdefg','abba','cddc','opq')

max = a_list[0]

for i in a_list[1:]:
    if len(i)>len(max):
        max = i
print(max)

bcdefg

47. Find the shortest string in a tuple of strings.

In [47]:
a_list=('abc','bcd','bcdefg','abba','cddc','opq')

max = a_list[0]

for i in a_list[1:]:
    if len(i)<len(max):
        max = i
print(max)

abc

48. Create a tuple of the first `n` triangular numbers.

In [49]:
# The solution is based on the fact that i-th Triangular number is sum of first i natural numbers, i * (i + 1)/2
n=5
lis=[]
for i in range(1, n + 1):
	lis.append(i*(i+1)//2)
print(tuple(lis))

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [51]:
# Python3 code to demonstrate
# to check if list is subset of other
# using all()

# initializing list
test_list = (9, 4, 5, 8, 10)
sub_list = (4, 5, 8)

# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))

# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
	flag = 1

# printing result
if (flag):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Original list : (9, 4, 5, 8, 10)
Original sub list : (4, 5, 8)
Yes, list is subset of other.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [52]:
tup=(1,2,3,4)
ra = tuple(i%2 for i in range(0, len(tup)))
ra

(0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [54]:
se={1,2,3,4,5}
se

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [55]:
se={1,2,3,4,5}
se.add(6)
se

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [56]:
se={1,2,3,4}
se.remove(1)
se

{2, 3, 4}

4. Check if an element exists in a set.

In [59]:
se={1,2,3,4}
if 4 in se:
    print("Yes")
else:
    print("No")

Yes

5. Find the length of a set without using the `len()` function.

In [60]:
se={1,2,3,4}
count=0
for i in se:
    count+=1
print(count)

4

6. Clear all elements from a set.

In [80]:
se={1,2,3,4}
se.clear()

7. Create a set of even numbers from 1 to 10.

In [2]:
abc = set()
for i in range(1,11):
    if i%2 == 0:
        abc.add(i)
abc

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [3]:
abc = set()
for i in range(1,11):
    if i%2 != 0:
        abc.add(i)
abc

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [6]:
s1 = {1,2,3,4}
s2 = {2,3,4,5}

re = s1.union(s2)
print(re)

{1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [7]:
s1 = {1,2,3,4}
s2 = {2,3,4,5}

re = s1.intersection(s2)
print(re)

{2, 3, 4}

11. Find the difference between two sets.

In [8]:
s1 = {1,2,3,4}
s2 = {2,3,4,5}

re = s1.difference(s2)
print(re)

{1}

12. Check if a set is a subset of another set.

In [10]:
s1 = {1,2,3,4}
s2 = {2,3,4,5}

re = s1.issubset(s2)
print(re)

False

13. Check if a set is a superset of another set.

In [11]:
s1 = {1,2,3,4}
s2 = {2,3,4,5}

re = s1.issuperset(s2)
print(re)

False

14. Create a set from a list.

In [12]:
lis=[1,2,3,4]
se=set(lis)
se

{1, 2, 3, 4}

15. Convert a set to a list.

In [13]:
se={1,2,3,4}
li=list(se)
print(li)

[1, 2, 3, 4]

16. Remove a random element from a set.

In [14]:
import random
se={1,2,3,4}
li = random.choice(list(se))
se.remove(li)
se

{1, 3, 4}

17. Pop an element from a set.

In [15]:
se={1,2,3,4}
se.pop()
se

{2, 3, 4}

18. Check if two sets have no elements in common.

In [17]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}

re = s1.intersection(s2)
print(re)

set()

19. Find the symmetric difference between two sets.

In [18]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}

re = s1 ^ s2
print(re)

{1, 2, 3, 4, 5, 6, 7, 8}

20. Update a set with elements from another set.

In [22]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [30]:
# Python program to display all the prime numbers within an interval

lower = 1
upper = 5

print("Prime numbers between", lower, "and", upper, "are:")

nu=set()

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           nu.add(num)
nu

Prime numbers between 1 and 5 are:

{2, 3, 5}

22. Check if two sets are identical.

In [31]:
s1={1,2,3,5}
s2={2,3,4,6}
if s1 == s2:
    print("Equal")
else:
    print("Not Equal")

Not Equal

23. Create a frozen set.

In [32]:
s1={1,2,3,5}
s2=frozenset(s1)
s2

frozenset({1, 2, 3, 5})

24. Check if a set is disjoint with another set.

In [34]:
s1={1,2,4,5}
s2={6,7,8,9}
s3=s1.isdisjoint(s2)
s3

True

25. Create a set of squares of numbers from 1 to 5.

In [35]:
s1={1,2,3,4}
s2=set(i*i for i in range(1,5))
s2

{1, 4, 9, 16}

26. Filter out all even numbers from a set.

In [49]:
s2={1,2,3,4}
for i in s2:
    if i%2==0:
        print(i)

2
4

27. Multiply all elements in a set by 2.

In [52]:
s1={1,2,3,5}
s2=set()
for i in s1:
    s2.add(i*2)
s2

{2, 4, 6, 10}

28. Create a set of random numbers.

In [63]:
import random
s1=set()
for _ in range(5):
    s3=random.randint(1,10)
    s1.add(s3)
s1

{2, 3, 5, 8, 10}

29. Check if a set is empty.

In [66]:
s1=set()
if not s1:
    print("Empty")
else:
    print("Not Empty")

Empty

30. Create a nested set (hint: use frozenset).

In [75]:
s1={1,2,3,4}
s2={5,6,7,8}
s3=frozenset(s1)
s4=frozenset(s2)
ns={s3,s4}
ns

{frozenset({1, 2, 3, 4}), frozenset({5, 6, 7, 8})}

31. Remove an element from a set using the discard method.

In [76]:
s1={1,2,3,4}
s1.discard(1)
s1

{2, 3, 4}

32. Compare two sets.

In [78]:
s1={1,2}
s2={3,4}
if s1==s2:
    print("Equal")
else:
    print("Not Equal")

Not Equal

33. Create a set from a string.

In [80]:
s1="string"
s2=set(s1)
s2

{'g', 'i', 'n', 'r', 's', 't'}

34. Convert a set of strings to a set of integers.

In [84]:
s2={'1','2'}
s4=set()
for i in s2:
    j=int(i)
    s4.add(j)
s4

{1, 2}

35. Convert a set of integers to a set of strings.

In [86]:
s1={1,2}
s2=set()
for i in s1:
    s2.add(str(i))
s2

{'1', '2'}

36. Create a set from a tuple.

In [87]:
tup=(1,2)
s1=set(tup)
s1

{1, 2}

37. Convert a set to a tuple.

In [89]:
s1={1,2}
s2=tuple(s1)
s2

(1, 2)

38. Find the maximum value in a set.

In [91]:
s1={1,2,3,4}
max(s1)

4

39. Find the minimum value in a set.

In [92]:
s1={1,2,3,4}
min(s1)

1

40. Create a set from user input.

In [93]:
s=set(input())
s

{'1', '2', '3'}

41. Check if the intersection of two sets is empty.

In [94]:
s1={1,2,3,4}
s2={2,3,4,5}
if not s1.intersection(s2):
    print("empty")
else:
    print("not empty")

not empty

42. Create a set of the first 5 Fibonacci numbers.

In [107]:
s=set()
a=0
b=1
s.add(a)
s.add(b)
for i in range(2,6):
    c=a+b
    s.add(c)
    a=b
    b=c
print(s) # {0, 1, 1, 2, 3}, here 1 is removed automatically by set because set contains unique elements

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [109]:
li=[1,1,2,3,2]
s=set(li)
s

{1, 2, 3}

44. Check if two sets have the same elements, regardless of their count.

In [114]:
s1={1,2,3,2,1}
s2={2,1,3}
s3=sorted(list(s1))
s4=sorted(list(s2))
if s3==s4:
    print("Equal")

Equal

45. Create a set of the first `n` powers of 2.

In [116]:
s=set()
for i in range(0,5):
    s.add(2**i)
s

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [123]:
s={1,2,3,4}
l=[3,4,5,6]
c=[]
for i in s:
    if i in l:
        c.append(i)
c

[3, 4]

47. Create a set of the first `n` triangular numbers.

In [124]:
n=5
s=set()
for i in range(1, n + 1):
	s.add(i*(i+1)//2)
s

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [127]:
s1={2,3}
s2={2,3,4,5}
if s1.issubset(s2):
    print("yes")
else:
    print("no")

yes

49. Create a set of alternating 1s and 0s of length `n`.

In [133]:
s=set()
for i in range(1,5):
    if i%2==0:
        s.add(1)
    else:
        s.add(0)
s

{0, 1}

50. Merge multiple sets into one.

In [138]:
s1={1,2}
s2={3,4}
s3=s1.union(s2)
s3

{1, 2, 3, 4}